<!DOCTYPE html>
<html>
  <head>
  <title>GC-System</title>
  <link rel="icon" href="/site/files/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <h1>Game Corner System</h1>
    <p>Welcome to GC-System!</p>
  </body>
</html>
