<!DOCTYPE html>
<html>
  <head>
    <title>GC-System</title>
    <link rel="stylesheet" href="/site/files/styles.css/">
  </head>
  <body>
    <div id="title">
      <h1>Game Corner System</h1>
    </div>
    <p>Welcome to GC-System!</p>
  </body>
</html>
